@model Buoi2.ViewModels.CoursesViewModel
@using Buoi2.Models;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Data.Entity;
@using Buoi2.ViewModels;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <ul class="course">
    @foreach (var course in Model.UpcommingCourses)
    {
        if (course.IsCanceled == false)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @*@course.Lecturer.Name*@
                        @if (User.Identity.IsAuthenticated == true)
                        {
                            <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LectureID">Follow</button>
                        }
                    </span>
                    <span class="category">
                        @course.Category.Name
                    </span>
                    @if (User.Identity.IsAuthenticated == true)
                    {
                        var user_id = @User.Identity.GetUserId();
                        ApplicationDbContext _dbcontext = new ApplicationDbContext();
                        bool isGoing = _dbcontext.Attendances.Any(a => a.CourseId == course.Id && a.AttendeeId == user_id);
                        <div>
                            @if (!isGoing)
                            {
                                <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                            }
                            else
                            {
                                <button data-course-id="@course.Id" class="btn btn-success btn-sm js-toggle-attendance">Going</button>
                            }


                        </div>



                    }
                </div>
            </li>
        }
    }
</ul>
    @section scripts
    {
        <script>
            $(document).ready(function() {
                $(".js-toggle-attendance").click(function(e){
                    var button = $(e.target);
                    $.post("api/attendances", { courseId: button.attr("data-course-id") })
                    .done(function(){
                        button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Going");
                    })
                    .fail(function() {
                        alert("Something failed!");
                    });
                });
                $("js-toggle-follow").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button.next("Following");
                        })
                        .fail(function () {
                            alert("Something faileds");
                        });
                });
            });
        </script>
    }
</div>
